@page "/item/getallitem"
@using MAUILocal.Services
@using MAUILocal.Model
@inject IItemService db;

            @foreach(var d in cat)
            {
    <div class="fooddispcont">
               <img class="getitems" src="@d.imgur"/>
               <div>
            <h6 style="text-align:center"><b>@d.prodname</b></h6>
            <p class="display-portion">@d.description</p>
            <div style="display:flex">
            <p><b>Price:</b> Rs. @d.price</p>
            <p style="padding:0px 0px 0px 25px">&#9733;4.5</p>
            </div>
            <NavLink href="@($"item/getitembyid/{d.id}")" class="buttonsmall">View Item</NavLink>

                   </div>

        
        </div>
    
        <hr />
            }
        




@code {
    private List<Items> cat = new List<Items>();
    public int t { get; set; } = 0;
    protected override void OnInitialized()
    {
        cat = db.GetAllItems();
    }
    private void cha()
    {
        t = 1;
    }
}
